{% extends 'Application/basic.html' %}
	{% block content %}
	{% load static %}
	

	<div class = "row">
	{% for value in pageObj %}
	<div class = "col-lg-4 col-md-6">
	
		<h2>{{value.title}}</h2><br>
		
		
		<a href = '{{value.images.url}}' download>
		<img src = "{{value.images.url}}" class ="img-fluid mb-2" >
		</a>
		<p>{{value.description|striptags|truncatechars:100}}</p>
		
	</div>
	{% endfor %}
	</div>
	</div>

	
	<nav aria-label="..." style="margin-left: auto;">
                    <span class="current">
            Page {{ pageObj.number }} of {{ pageObj.paginator.num_pages }}.
        </span> 
                        <ul class="pagination">
                            {% if pageObj.has_previous %}
                        <li class="page-item"><a class="page-link" href = "?page=1">&laquo; First</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ pageObj.previous_page_number }}">{{ pageObj.previous_page_number }} </a>
                            </li>
                               {% endif %}
                              
         {% if pageObj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ pageObj.next_page_number }}">{{ pageObj.next_page_number }}</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ pageObj.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                 {% endif %}
                            </li>
                        </ul>
	</nav>
	{% endblock %}
